
.item__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item__appbar {
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.item__contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.item__content {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 20px;
}

.item__item {
    flex-direction: column;
    flex-basis: 60%;
    flex-shrink: 1;
  }
  
.item__item:nth-child(2) {
flex-shrink: 2;
}

.item__title-input, .item__textarea {
    border: none;

    &:focus {
        outline: none;

    }
}

.item__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    width: 90%;
    margin-bottom: 10px;
} 

.item__textarea {
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
    width: 90%;
    height: 100%;
    padding: 10px;
}

.item__image img{
    box-shadow: 3px 3px $dark-grey;
    height: 400px;
}